/*
 * Customizer Controls CSS
 *
 * Adjusts styling for plugin option controls in the Customizer
 *
 * @package Custom Color Palette
 */

/* Headline Controls */
#customize-control-tzccp_options-enable_main_colors,
#customize-control-tzccp_options-enable_primary_colors,
#customize-control-tzccp_options-enable_grayscale_colors {
	margin-bottom: 0;
}

/* Checkbox Controls */
#customize-control-tzccp_options-primary_dark,
#customize-control-tzccp_options-primary,
#customize-control-tzccp_options-primary_light,
#customize-control-tzccp_options-secondary_dark,
#customize-control-tzccp_options-secondary,
#customize-control-tzccp_options-secondary_light {
	width: 50%;
	clear: none;
}

#customize-control-tzccp_options-accent {
	margin-bottom: 16px;
}
