/*
 * Customizer Controls CSS
 *
 * Adjusts styling for plugin option controls in the Customizer
 *
 * @package Custom Color Palette
 */

/* Headline Controls */
#customize-control-tzccp_options-enable_main_colors,
#customize-control-tzccp_options-enable_primary_colors,
#customize-control-tzccp_options-enable_grayscale_colors {
	margin-bottom: 0;
}

/* Checkbox Controls */
#customize-control-tzccp_options-primary_dark,
#customize-control-tzccp_options-primary,
#customize-control-tzccp_options-primary_light,
#customize-control-tzccp_options-secondary_dark,
#customize-control-tzccp_options-secondary,
#customize-control-tzccp_options-secondary_light,
#customize-control-tzccp_options-white,
#customize-control-tzccp_options-light_gray,
#customize-control-tzccp_options-dark_gray,
#customize-control-tzccp_options-black,
#customize-control-tzccp_options-red,
#customize-control-tzccp_options-blue,
#customize-control-tzccp_options-green,
#customize-control-tzccp_options-yellow,
#customize-control-tzccp_options-orange,
#customize-control-tzccp_options-purple,
#customize-control-tzccp_options-brown,
#customize-control-tzccp_options-pink {
	width: 50%;
	clear: none;
	margin-bottom: 2px;
}

#customize-control-tzccp_options-accent,
#customize-control-tzccp_options-black,
#customize-control-tzccp_options-dark_gray,
#customize-control-tzccp_options-yellow,
#customize-control-tzccp_options-pink {
	padding-bottom: 16px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 16px;
}
